body {
    margin: 0;
    overflow: hidden;
}
button{
    width: 100px;
    height: 15px;
    margin: 15px; 
}
.firework {
    /* width: 10px;
    height: 10px; */
    width: 500px;
    height: 500px;
    /* background-color: #f00; Firework color */
    position: absolute;
    background-image: url('/resources/firework.png');
    /* mask-image: ; */
    /* background-image: url('/resources/design_pages/picture_3.png'); */
    /* animation: explode 1s ease-out; */
}

@keyframes explode {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    100% {
        transform: scale(10);
        opacity: 0;
    }
}