@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    height: 100%;
    margin: 5px;
    padding: 5px;
    background-image: url('/resources/design_pages/picture_3.png');
    background-color: rgba(202, 231, 249, 0.975);
    font-size: 16px;
    font-family: "Lato",sans-serif;
}



.fade-in-text {
    
    text-align: center;
    opacity: 0; 
    animation: fadeIn 5s ease-in-out forwards; 
}

@keyframes fadeIn {
    from {
        bottom: 0;
        opacity: 0;
    }
    to {
        opacity: 1; 
        bottom: -400px;
    }
}

.main-container{

    display: flex;
    flex-direction: column;
    height: 100%;
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

h1{
   
    font-weight: 600;
    font-size: 26px;
    text-align: center;
    margin: 30px;
    padding: 20px;
}

li,a,p {
    font-family: "Lato",sans-serif;
    font-weight: 600;
    font-size: 16px;
    text-decoration: none;
    padding: 10px;

}

li{
    margin-left: 45px;
}

header{

    display: flex;
    justify-content: center;
    padding: 5px 10%;
    border: 2px solid #0088a9;
    border-radius: 5px;
    
}

/* .logo{
    cursor: pointer;
    margin: auto;
    
} */
.logo-class{
    font-display: initial;
}

.logo-name{
    font-family: "lato",sans-serif;
    font-size: 20px;
    font-weight: 900;

}

.navigation-links{
    list-style: none;
}

.navigation-links li{
    display: inline;
    padding: 0 20px;
   
}

.navigation-links li a{
    transition: all 0.5s ease 0s;
}

.navigation-links li a:hover {
    color: #0088a9;
}

.align-text{
    text-align: left;
}

@media (max-width:600px) {

    body{
        font-size: 14px;
    }
}

@media (min-width:768px){
    body{
        font-size: 18px;
    }

    nav {
        flex-direction: column;
    }
}

/* References
https://www.w3schools.com/css/css3_mediaqueries_ex.asp */