/* References */
/* https://www.youtube.com/watch?v=AiQqip_pVbA */

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    height: 100%;
    margin: 5px;
    padding: 5px;
    background-image: url('/resources/design_pages/picture_3.png');
    font-size: 16px;
    font-family: "Lato",sans-serif;
}

li,a,p {
    font-family: "Lato",sans-serif;
    font-weight: 600;
    font-size: 16px;
    text-decoration: none;
    padding: 10px;

}

li{
    margin-left: 45px;
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 10%;
    border: 2px solid #0088a9;
    border-radius: 5px;
    
}

.logo{
    cursor: pointer;
    margin: auto;
    
}
.logo-class{
    font-display: initial;
}

.logo-name{
    font-family: "lato",sans-serif;
    font-size: 20px;
    font-weight: 900;

}
.navigation-links{
    list-style: none;
}

.navigation-links li{
    display: inline;
    padding: 0 20px;
   
}

.navigation-links li a{
    transition: all 0.5s ease 0s;
}

.navigation-links li a:hover {
    color: #0088a9;
}