body{
    height: 100%;
    margin: 5px;
    padding: 5px;
    background-image: url('/week3/my_holiday_app_project_week_1/resources/design_pages/picture_3.png');
    font-size: 16px;
    font-family: "Lato",sans-serif;
}

.main-container{
    display: flex;
    justify-content: center;
}