*{
    box-sizing: border-box;
    /* margin: 5px;
    padding: 5px; */
}
body{
    height: 100%;
    margin: 5px;
    padding: 5px;
    background-image: url('/resources/design_pages/picture_3.png');
    /* background-color: rgba(166, 213, 241, 0.975); */
    background-color: rgba(202, 231, 249, 0.975);
    font-size: 14px;
    font-family: "Lato",sans-serif;
}

.main-container{
   
    display: flex;
    /* justify-content: center; */
    flex-wrap: wrap;
    flex-direction: column;
}

.sub-container-1 ,.sub-container-2{
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    /* font-size: 14px; */
}

.btn-bg-color{
    background-color: cadetblue;
    border-radius: 5px;
}

/* Table styling */

table{
    
    border-spacing: 1px ;
    text-align: center;
    padding: 10px;
    max-width: 595px;
    border-collapse: separate;
}

th,td{
    padding: 15px 15px  15px 15px;
    position: sticky;
    /* color: #59bbe4; */
}
th{
    background-color:cadetblue;
    color: white;
    font-weight: 400;
}
.publicHoliday-table{

    max-height: 300px;
    width: 100%;
    overflow-y: auto;
    scroll-behavior: smooth;

}
/* .country-profile{
    
    overflow-y: auto;
    scroll-behavior: smooth;
} */
.country-borders{
    max-height: 200px;
    overflow-y: auto;
    
}
/* .border-table{
    max-height: 300px;
    overflow-y: auto;
    
} */
.public-holiday{
    max-height: 550px;
    overflow-y: auto;
}

.row2-col2 {
    max-height: 650px; 
    overflow-y: auto; 
}
tr:nth-child(even) {
    background-color: #D6EEEE;
  }


  .row1-col1,
  .row1-col2,
  .row2-col1,
  .row2-col2 {
      flex: 1;
      flex-direction: row;
      box-sizing: border-box;
      border: 1px solid #ccc;
      width: 600px ;
      height: 650px;
      /* max-height: 700px; */
      padding: 10px;
      margin: 5px;
      flex-basis: 48%;
  }
   /* navigation pannel */

   
header{

    display: flex;
    justify-content: center;
    padding: 5px 10%;
    border: 2px solid #0088a9;
    border-radius: 5px;
    
}
.nav-li,a{
    font-family: "Lato",sans-serif;
    font-weight: 600;
    font-size: 16px;
    text-decoration: none;
    padding: 10px;
}


.nav-li{
    margin-left: 45px;
} */

/* .logo{
    cursor: pointer;
    margin: auto;
    
} */
.logo-class{
    font-display: initial;
}

.logo-name{
    font-family: "lato",sans-serif;
    font-size: 20px;
    font-weight: 800;

}

.navigation-links{
    
    list-style: none;
    border: none;
    background-color: transparent;
}

.navigation-links li{
    display: inline;
    padding: 0 20px;
   
}

.navigation-links li a{
    transition: all 0.5s ease 0s;
}

.navigation-links li a:hover {
    color: #0088a9;
}
 
  
  /* Long weekend listing  */
    
  #longweekend-list{

    /* font-size: 16px; */
    display: block;
    /* margin: 0 ; */
    text-align: left;
    overflow-y: scroll;
    scroll-behavior: smooth; 
    max-height: 570px ;
   
     
  }
  ul{
    margin-top: 5px;
    border: 1px solid;
    border-radius: 10px;
    background-color: antiquewhite;
  }
  li{


    display: flex;
    align-items: center;
    justify-content: left;
    font-size: 12px;
    padding: 5px;
    

  }


  
  /* Full width on small screens */
  @media (max-width: 600px) {
    .row1-col1,
    .row1-col2,
    .row2-col1,
    .row2-col2 {
        flex-basis: 100%; 
    }
    }

  /* https://www.w3schools.com/html/html_table_styling.asp */
  /* https://developer.mozilla.org/en-US/docs/Web/API/Document_Object_Model/Traversing_an_HTML_table_with_JavaScript_and_DOM_Interfaces */
  /* https://developer.mozilla.org/en-US/docs/Web/CSS/scroll-behavior */