
body{
    height: 100%;
    margin: 0;
    padding: 0;
    background-image: url('/week3/my_holiday_app_project_week_1/resources/design_pages/picture_3.png');
    font-family:  "Lato",sans-serif;
    font-weight: 550;
}
.container{
    display: flex;
    flex-direction: column;
    /* background-color: aquamarine; */
    height: 100%;
    align-items: center;
}
p{
    font-size: 16px;
}
.item1{

    height: 50px;
    /* background-color: #e0e0e0 */
    
}
/* .link{
    border: 2px dotted rgb(3, 59, 61);
    border-radius: 5px;
    background-color: rgb(92, 167, 221);    
    width: 350px;
} */

a{
    text-decoration: none;
    border: 2px dotted;
    padding: 10px;
    border-radius: 10px;
    background-color: rgb(150, 218, 255);
}
.item2{

    height: 200px;
}
.item3{

    height: 200px;
}

.fade-in-text {
    
    text-align: center;
    opacity: 0; 
    animation: fadeIn 5s ease-in-out forwards; 
}

@keyframes fadeIn {
    from {
        bottom: 0;
        opacity: 0;
    }
    to {
        opacity: 1; 
        bottom: -400px;
    }
}
/* References */
/* https://www.geeksforgeeks.org/how-to-create-fade-in-effect-on-page-load-using-css/ */